In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

In [2]:
user_df = pd.read_excel('../Data/Visitors Preference Dataset.xlsx')
places_df = pd.read_csv('../Data/Places Dataset Classified Reviews Cleaned Combined.csv')

In [3]:
user_1 = user_df[user_df['User ID'] == 1]
user_1

,User ID,Name,Email,Preferred Activities,Bucket list destinations Sri Lanka
0,1,Jennifer Quinn,jennifer.quinn@example.com,"['cycling', 'historical monuments', 'village h...","['Polonnaruwa', 'Hatton', 'Anuradhapura', 'Ell..."

In [4]:
preferred_activities = user_1["Preferred Activities"]
preferred_activities[0]

"['cycling', 'historical monuments', 'village homestays']"

In [5]:
import ast

def convert_string_to_list(input_string):
    return ast.literal_eval(input_string)

preferred_activities_array = convert_string_to_list(preferred_activities[0])
preferred_activities_array

['cycling', 'historical monuments', 'village homestays']

In [6]:
prefered_destinations = user_1["Bucket list destinations Sri Lanka"]
prefered_destinations_array = convert_string_to_list(prefered_destinations[0])
prefered_destinations_array

['Polonnaruwa', 'Hatton', 'Anuradhapura', 'Ella', 'Haputale']

In [8]:
places_df = places_df[["name","activities","combined_info"]]

In [9]:
def find_places_based_on_user_preferences(prefered_destinations_array):
    places = []
    for destination in prefered_destinations_array:
        places.append(places_df[(places_df['name'] == destination)])

    return places

In [10]:
input_places = find_places_based_on_user_preferences(prefered_destinations_array)

In [11]:
input_activities = preferred_activities_array
input_activities

['cycling', 'historical monuments', 'village homestays']

In [12]:
input_places

[           name                                         activities  \
 95  Polonnaruwa  ['Exploring the Ancient Ruins', 'Bicycle Tours...

                                         combined_info
 95  polonnaruwa unesco world heritage site sri lan...  ,
 Empty DataFrame
 Columns: [name, activities, combined_info]
 Index: [],
             name                                         activities  \
 23  Anuradhapura  ['Visit the sacred Sri Maha Bodhi tree.', 'Exp...

                                         combined_info
 23  anuradhapura unesco world heritage site sri la...  ,
 Empty DataFrame
 Columns: [name, activities, combined_info]
 Index: [],
         name                                         activities  \
 78  Haputale  ['Hiking to Ella Rock', "Exploring Lipton's Se...

                                         combined_info
 78  haputale charming hill town sri lanka known st...  ]